/*
*= require_tree .
*= require_self
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dec-none {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
  position: absolute;
  height: 72px;
  left: 0;
  top: 0;
  background-color: #3e3c3c;
}

.header .navbar {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.3rem;
  color: #fff;
}

.header .navbar .name {
  width: 140px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.header .navbar .nav-link-container {
  width: 265px;
}

.header .navbar .nav-link-container .nav-link {
  color: #fff;
}

.header .navbar .nav-link-container .nav-link:hover {
  -webkit-text-decoration: underline 1px #fff;
          text-decoration: underline 1px #fff;
}

.welcome {
  height: 100vh;
  margin-top: 72px;
  background-color: #1c1a19;
}

.welcome .social-box {
  width: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 20px;
}

.welcome .social-box .social-list {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.welcome .social-box .social-list .item {
  margin-bottom: 10px;
}

.welcome .social-box .social-list .item .profile-link {
  font-size: 1.5rem;
  color: #fff;
}

.welcome .presentation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  color: #fff;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
}

.welcome .presentation .title {
  font-size: 4rem;
  color: #f55800;
  line-height: 65px;
  margin-bottom: 10px;
}

.welcome .presentation .subtitle {
  font-size: 2rem;
  margin-bottom: 15px;
}

.welcome .presentation .desc {
  font-size: 1.4rem;
  line-height: 25px;
}

.welcome .main-image-cont {
  max-width: 50%;
}

.welcome .main-image-cont .image {
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-section {
  padding: 90px;
}

.portfolio-section .portfolio-title {
  font-size: 2.5rem;
  margin-left: 15px;
  margin-right: 18px;
}

.portfolio-section .h-line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  border: 1px solid #000;
  margin-right: 10px;
}

.works {
  -ms-grid-rows: 440px (435px)[2];
      grid-template-rows: 440px repeat(2, 435px);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 90px;
}

.works .main-project {
  grid-column: span 3;
}

.works .main-project .mp-img-cont {
  width: 60%;
  padding: 3%;
  background-color: #fa7629;
}

.works .main-project .mp-img-cont .mp-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
}

.works .main-project .mp-info {
  width: 40%;
  padding-top: 5px;
  padding-left: 1.5%;
}

.works .main-project .mp-info .mp-title {
  font-size: 3rem;
  margin-bottom: 19px;
}

.works .main-project .mp-info .mp-desc {
  font-size: 1.35rem;
  line-height: 25px;
  margin-bottom: 15px;
}

.works .main-project .mp-info .tags-cont {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .main-project .mp-info .tags-cont .tag {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.works .main-project .mp-info .mp-btn {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 15px;
  padding: 12px 12px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #f55800;
}

.works .project {
  position: relative;
  color: #fff;
}

.works .project .p-image {
  -o-object-fit: cover;
     object-fit: cover;
}

.works .project .p-image-cover {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.160084)), color-stop(90%, rgba(0, 0, 0, 0.793137)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.160084) 0%, rgba(0, 0, 0, 0.793137) 90%);
}

.works .project .p-image-cover .p-title {
  font-size: 2.1rem;
  margin-bottom: 18px;
}

.works .project .p-image-cover .p-desc {
  font-size: 1.3rem;
  margin-bottom: 18px;
}

.works .project .p-image-cover .tags-cont2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .project .p-image-cover .tags-cont2 .tag2 {
  padding: 10px 12px;
  background-color: #3e3c3c;
  margin-right: 6px;
}

.works .project .see-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f55800;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 17px;
  padding-bottom: 17px;
}

.about-me-cont {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1135px;
  background-color: #1c1a19;
  color: #fff;
  padding: 7%;
}

.about-me-cont .about-me {
  width: 50%;
  height: 35%;
}

.about-me-cont .about-me .am-title {
  font-size: 5rem;
  color: #f55800;
  margin-bottom: 24px;
}

.about-me-cont .about-me .am-desc {
  font-size: 1.45rem;
  line-height: 30px;
  margin-bottom: 38px;
}

.about-me-cont .about-me .am-btn {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.7rem;
  background-color: #f55800;
  padding: 12px;
}

.about-me-cont .about-me-img {
  position: absolute;
  top: 90px;
  right: 0;
  width: 50%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-me-cont .h-line2 {
  height: 1px;
  border: 1px solid #fff;
}

.about-me-cont .skills {
  height: 35%;
}

.about-me-cont .skills .skill-col {
  width: 33%;
  line-height: 40px;
}

.about-me-cont .skills .skill-col .s-title {
  font-size: 2.3rem;
}

.about-me-cont .skills .skill-col .shape-1 {
  list-style: none inside url("../images/shape1.png");
}

.about-me-cont .skills .skill-col .shape-2 {
  list-style: none inside url("../images/shape2.png");
}

.about-me-cont .skills .skill-col .shape-3 {
  list-style: none inside url("../images/shape3.png");
}

.about-me-cont .skills .skill-col .s-item {
  font-size: 1.6rem;
}

.contact {
  color: #000;
  padding: 7%;
}

.contact .c-text {
  width: 40%;
  font-size: 2.9rem;
}

.contact .c-form {
  width: 60%;
}

.contact .c-form input[name=first],
.contact .c-form input[name=last] {
  width: 48%;
}

.contact .c-form input[name=email] {
  width: 100%;
}

.contact .c-form input[name=first],
.contact .c-form input[name=last],
.contact .c-form input[name=email] {
  background-color: #fff;
  padding: 14px;
  font-size: 1.1rem;
}

.contact .c-form textarea[name=message] {
  width: 100%;
  height: 125px;
  padding: 12px;
  font-size: 1.15rem;
}

.contact .c-form input[name=first],
.contact .c-form input[name=last],
.contact .c-form input[name=email],
.contact .c-form textarea[name=message] {
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #8993a4;
}

.contact .c-form input[name=first]:focus,
.contact .c-form input[name=last]:focus,
.contact .c-form input[name=email]:focus,
.contact .c-form textarea[name=message]:focus {
  background-color: #dddcdc;
}

.contact .c-form .submit-btn {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 12px;
  background-color: #f55800;
  color: #fff;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */