/*
*= require_tree .
*= require_self
*/

$light-grey: #dddcdc;

$grey: #8993a4;

$dark-grey: #3e3c3c;

$darker-grey: #1c1a19;

$orange: #f55800;

$light-orange: #fa7629;

$black: #000;

$white: #fff;

* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.justify-c-center {
  justify-content: center;
}

.justify-c-space {
  justify-content: space-between;
}

.align-i-center {
  align-items: center;
}

.align-i-start {
  align-items: flex-start;
}

.dec-none {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-max {
  height: max-content;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
  position: absolute;
  height: 72px;
  left: 0;
  top: 0;
  background-color: $dark-grey;

  .navbar {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.3rem;
    color: $white;

    .name {
      width: 140px;
      height: max-content;
    }

    .nav-link-container {
      width: 265px;

      .nav-link {
        color: $white;

        &:hover {
          text-decoration: underline 1px $white;
        }
      }
    }
  }
}

.welcome {
  height: 100vh;
  margin-top: 72px;
  background-color: #1c1a19;

  .social-box {
    width: 10%;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;

    .social-list {
      width: max-content;

      .item {
        margin-bottom: 10px;

        .profile-link {
          font-size: 1.5rem;
          color: $white;
        }
      }
    }
  }

  .presentation {
    flex-direction: column;
    width: 40%;
    color: $white;
    text-align: left;
    justify-content: center;
    padding-left: 20px;

    .title {
      font-size: 4rem;
      color: $orange;
      line-height: 65px;
      margin-bottom: 10px;
    }

    .subtitle {
      font-size: 2rem;
      margin-bottom: 15px;
    }

    .desc {
      font-size: 1.4rem;
      line-height: 25px;
    }
  }

  .main-image-cont {
    width: 50%;

    .image {
      object-fit: cover;
    }
  }
}

.portfolio-section {
  padding: 90px 7%;

  .portfolio-title {
    font-size: 2.5rem;
    margin-left: 15px;
    margin-right: 18px;
  }

  .h-line {
    flex-grow: 1;
    height: 1px;
    border: 1px solid $black;
    margin-right: 10px;
  }
}

.works {
  grid-template-rows: 440px repeat(2, 435px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 90px;

  .main-project {
    grid-column: span 3;

    .mp-img-cont {
      width: 60%;
      padding: 3%;
      background-color: $light-orange;

      .mp-img {
        object-fit: cover;
        object-position: 0% 0%;
      }
    }

    .mp-info {
      width: 40%;
      padding-top: 5px;
      padding-left: 1.5%;

      .mp-title {
        font-size: 3rem;
        margin-bottom: 19px;
      }

      .mp-desc {
        font-size: 1.35rem;
        line-height: 25px;
        margin-bottom: 15px;
      }

      .tags-cont {
        flex-wrap: wrap;

        .tag {
          border: 1px solid $grey;
          padding: 10px 12px;
          margin-right: 8px;
          margin-bottom: 8px;
        }
      }

      .mp-btn {
        cursor: pointer;
        width: max-content;
        margin-top: 15px;
        padding: 12px 12px;
        font-size: 1.2rem;
        color: $white;
        background-color: $orange;
      }
    }
  }

  .project {
    position: relative;
    color: $white;

    .p-image {
      object-fit: cover;
    }

    .p-image-cover {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: flex-end;
      padding: 16px;
      background:
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.16008401651676296) 0%,
          rgba(0, 0, 0, 0.7931372378052783) 90%
        );

      .p-title {
        font-size: 2.1rem;
        margin-bottom: 18px;
      }

      .p-desc {
        font-size: 1.3rem;
        margin-bottom: 18px;
      }

      .tags-cont2 {
        flex-wrap: wrap;

        .tag2 {
          padding: 10px 12px;
          background-color: $dark-grey;
          margin-right: 6px;
          margin-bottom: 6px;
        }
      }
    }

    .see-btn {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $orange;
      text-align: center;
      font-size: 1.2rem;
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }
}

.p-full-view {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;

  .fv-container {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 85%;
    background-color: $white;
    opacity: 1;
    padding: 27px 24px;
    overflow-y: auto;

    .fv-title {
      font-size: 1.8rem;
      width: 95%;
      margin-bottom: 11px;
    }

    .close-btn-cont {
      width: 5%;

      .close-btn {
        cursor: pointer;
      }
    }

    .fv-tag {
      height: max-content;
      padding: 10px 12px;
      border: 1px solid $grey;
      margin-right: 10px;
      margin-bottom: 40px;
    }

    .fv-info {
      height: calc(100% - 115px);

      .fv-img {
        width: 60%;
        object-fit: cover;
      }

      .fv-info-right {
        flex-direction: column;
        width: 40%;
        padding-left: 25px;

        .fv-desc {
          font-size: 1.4rem;
          line-height: 30px;
        }

        .fv-btns {
          width: 210px;

          .fv-btn {
            cursor: pointer;
            font-size: 1.21rem;
            padding: 12px;
            background-color: $orange;
            color: $white;
          }
        }
      }
    }
  }
}

.about-me-cont {
  position: relative;
  flex-direction: column;
  height: 1135px;
  background-color: $darker-grey;
  color: $white;
  padding: 7%;

  .about-me {
    width: 50%;
    height: 35%;

    .am-title {
      font-size: 5rem;
      color: $orange;
      margin-bottom: 24px;
    }

    .am-desc {
      font-size: 1.45rem;
      line-height: 30px;
      margin-bottom: 38px;
    }

    .am-btn {
      cursor: pointer;
      width: max-content;
      font-size: 1.7rem;
      background-color: $orange;
      padding: 12px;
    }
  }

  .about-me-img {
    position: absolute;
    top: 90px;
    right: 0;
    width: 50%;
    height: 30%;

    img {
      object-fit: cover;
      object-position: left;
    }
  }

  .h-line2 {
    height: 1px;
    border: 1px solid $white;
  }

  .skills {
    height: 35%;

    .skill-col {
      width: 33%;
      line-height: 40px;

      .s-title {
        font-size: 2.3rem;
      }

      .shape-1 {
        list-style: none inside url('../images/shape1.png');
      }

      .shape-2 {
        list-style: none inside url('../images/shape2.png');
      }

      .shape-3 {
        list-style: none inside url('../images/shape3.png');
      }

      .s-item {
        font-size: 1.6rem;
      }
    }
  }
}

.contact {
  color: $black;
  padding: 7%;

  .c-text {
    width: 40%;
    font-size: 2.9rem;
  }

  .c-form {
    width: 60%;

    input[name=first],
    input[name=last] {
      width: 48%;
    }

    input[name=email] {
      width: 100%;
    }

    input[name=first],
    input[name=last],
    input[name=email] {
      background-color: $white;
      padding: 14px;
      font-size: 1.1rem;
    }

    textarea[name=message] {
      width: 100%;
      height: 125px;
      padding: 12px;
      font-size: 1.15rem;
    }

    input[name=first],
    input[name=last],
    input[name=email],
    textarea[name=message] {
      margin-bottom: 25px;
      border: none;
      border-bottom: 1px solid $grey;

      &:focus {
        background-color: $light-grey;
      }
    }

    .submit-btn {
      cursor: pointer;
      width: max-content;
      padding: 12px;
      background-color: $orange;
      color: $white;
      font-size: 1.5rem;
    }
  }
}

.footer {
  border-top: 1px solid $light-grey;
  padding-top: 25px;
  padding-bottom: 25px;

  .f-item {
    padding-right: 8px;
    font-size: 1.7rem;

    .f-link {
      color: $dark-grey;

      &:hover {
        color: $grey;
      }
    }
  }
}

.show_fv {
  animation-name: show_fv;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

.hide_fv {
  animation-name: hide_fv;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

@keyframes show_fv {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes hide_fv {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media only screen and (max-width: 492px) {
  .portfolio-section {
    padding: 120px 7%;

    .portfolio-title {
      margin: 0 0 60px 0;
    }

    .h-line {
      width: 100%;
      margin-right: 0;
      border-color: $grey;
    }

    .works {
      grid-template-rows: 650px repeat(6, 470px);
    }
  }

  .portfolio-section div:first-child {
    flex-direction: column;
  }
}

@media only screen and (max-width: 812px) {
  html { font-size: 13px; }

  .welcome {
    flex-direction: column;
    padding: 30% 5%;
    justify-content: center;

    .social-box {
      order: 2;
      width: 100%;
      margin-top: 25px;
      padding-left: 20px;
      align-items: flex-start;

      .social-list {
        width: 50%;
        display: flex;
        justify-content: space-between;

        .item {
          .profile-link {
            font-size: 2.5rem;
          }
        }
      }
    }

    .presentation {
      order: 1;
      width: 100%;
    }

    .main-image-cont {
      display: none;
    }
  }

  .works {
    grid-template-rows: 500px repeat(6, 470px);
    grid-template-columns: 1fr;
    grid-gap: 30px;

    .main-project {
      grid-column: 1;
      flex-direction: column;

      .mp-img-cont {
        height: 40%;
        width: 100%;
      }

      .mp-info {
        height: 60%;
        width: 100%;
        padding-top: 20px;
        padding-left: 0;

        .mp-title {
          margin-bottom: 10px;
        }

        .mp-btn {
          margin-top: 5px;
        }
      }
    }

    .project {
      .p-image-cover {
        height: calc(100% - 49.6px);
      }

      .see-btn {
        display: block !important;
      }
    }
  }

  .about-me-cont {
    padding: 120px 7%;
    height: 1600px;

    .about-me {
      width: 100%;
      height: max-content;
    }

    .about-me-img {
      display: none;
    }

    .skills {
      flex-direction: column;
      height: max-content;
      align-items: center;

      .skill-col {
        width: max-content;
        line-height: 50px;
        margin-bottom: 44px;

        .s-item {
          text-align: center;
        }
      }

      .skill-col:last-child {
        margin-bottom: 0;
      }
    }
  }

  .contact {
    flex-direction: column;
    padding: 120px 7%;

    .c-text {
      width: 100%;
      margin-bottom: 70px;
    }

    .c-form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .submit-btn {
        align-self: center;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .main-image-cont {
    .image {
      object-position: left;
    }
  }

  .p-full-view {
    .fv-container {
      padding: 16px;
      width: 90%;
      height: 90%;

      .fv-title,
      .close-btn {
        margin-bottom: 30px;
      }

      .fv-tag {
        margin-bottom: 15px;
      }

      .fv-info {
        flex-wrap: wrap;
        height: calc(95% - 108px);

        .fv-img,
        .fv-info-right {
          width: 100% !important;
        }

        .fv-img {
          height: 60%;
        }

        .fv-info-right {
          padding-top: 0 !important;
          padding-left: 0 !important;
        }
      }
    }
  }
}
